<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Tela de Cadastros</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="inicio.blank">Inicio</a>
            </li>
            <li>
                Cadastros
            </li>
            <li class="active">
                <strong>Geral</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <br />
            <div class="ibox-title bg-success">
                <h5><strong>Cadastro Geral</strong></h5>
            </div>
            <br />
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="btn btn-primary-register" ui-sref="cadastrar.planoContas">
                            <i class="fa fa-wpforms"></i><span>  Plano de Contas</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn btn-primary-register" ui-sref="cadastrar.pagamentos">
                            <i class="fa fa-credit-card"></i><span>  Formas de Pagamento</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn btn-primary-register" ui-sref="cadastrar.centroCustos">
                            <i class="fa fa-table"></i><span>  Centro de Custos</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn btn-primary-register" ui-sref="cadastrar.bancos">
                            <i class="fa fa-bank"></i><span>  Bancos</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn btn-primary-register" ui-sref="cadastrar.produtos">
                            <i class="fa fa-server"></i><span>  Produtos / Serviços</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn btn-primary-register" ui-sref="cadastrar.cliente">
                            <i class="fa fa-users"></i><span>  Empresas / Clientes / Fornecedores</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>