<div class="row border-bottom" ng-controller="topNavCtrl">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <!--<form role="search" class="navbar-form-custom" method="post" action="views/search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="{{ 'SEARCH' | translate }}" class="form-control" name="top-search" id="top-search">
                </div>
            </form>-->
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li uib-dropdown>
                <div auto-close="outsideClick" style="display: table !important;">
                    <button class="dropdown-toggle makeFilterDropdownBtn" type="button" id="individualDrop" data-toggle="dropdown" ng-disabled="user.perfil != 'Master'">{{labelFiltro}}<b ng-show="user.perfil == 'Master'" class="caret" style="margin-left: 12px !important;"></b></button>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs ul-filter-menu" aria-labelledby="individualDrop">
                        <input disable-auto-close type="search" ng-model="serchFilter" class="makeFilterDropdownSearchBox" placeholder="Pesquisa" />
                        <li role="presentation" ng-repeat="emp in empresas | filter: serchFilter"><a role="menuitem" ng-click="selectEntity(emp)">{{emp.nomeRazao}}</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="pipe-nav"></div>
            </li>
            <li uib-dropdown>
                <a uib-dropdown-toggle href="#">
                    <span class="clear">
                        <span class="text-muted text-xs block">{{user.nome}}<b class="caret" style="margin-left: 12px !important;"></b></span>
                    </span>
                </a>
                <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                    <li><a ui-sref="administracao.usuarios">Alterar Senha</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="logout();" ui-sref="login">Logout</a></li>
                </ul>
            </li>
        </ul>

    </nav>
</div>