<toaster-container></toaster-container>
<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="RegisterCtrl" style="padding-top:200px;" dw-loading="load" dw-loading-options="{text: 'Carregando...'}">
    <div class="divLogin">
        <div style="margin-bottom:30px;">
            <img src="../img/login-2.jpg" style="width:250px;"/>
        </div>
        <form class="m-t" role="form" name="loginForm">
            <div class="form-group">
                <select class="form-control" ng-model="tipo" ng-options="t.tipo as t.nome for t in tipos" ng-change="changeSelect(tipo);">
                    <option value="">Selecione o tipo pessoa</option>
                </select>
            </div>
            <div class="form-group" ng-show="tipoSelected && achouCadastro">
                <input type="text" class="form-control" placeholder="CPF" autocomplete="off" ng-model="user.CpfCnpj" ng-if="tipo == 'PF'" ui-br-cpf-mask>
            </div>
            <div class="form-group" ng-show="tipoSelected && achouCadastro">
                <input type="text" class="form-control" placeholder="CNPJ" autocomplete="off" ng-model="user.CpfCnpj" ng-if="tipo == 'PJ'" ui-br-cnpj-mask>
            </div>
            <div class="form-group" ng-show="tipoSelected && !achouCadastro">
                <input type="email" class="form-control" placeholder="* E-Mail cadastrado" ng-model="user.Email">
            </div>
            <div class="form-group" ng-show="tipoSelected && achouCadastro">
                <input type="password" class="form-control" placeholder="Senha" autocomplete="off" ng-model="user.Senha">
            </div>
            <div class="form-group" ng-show="tipoSelected && achouCadastro">
                <input type="password" class="form-control" placeholder="Confirma&ccedil;&atilde;o da senha" autocomplete="off" ng-model="user.SenhaConfirmacao">
            </div>
            <button class="btn btn-success block full-width m-b" ng-show="tipoSelected && achouCadastro" ng-click="RedefinirUsuario();">Enviar</button>
            <button class="btn btn-success block full-width m-b" ng-show="!achouCadastro" ng-click="BuscarCadastro();">Resgatar usu&aacute;rio</button>
        </form>
    </div>
</div>